@charset "UTF-8";

body {margin:0!important;padding:0!important;}
.jumbotron, .jumbotron p{ margin-bottom:0!important; }
.jumbotron {
	padding:7rem 2rem 0 2rem!important;
	background-color: #3CB371 !important;
}
thead {color: green;text-align:center;}
ul.nav-right {text-align:right!important;}
.nav-right{margin: auto 0 auto auto;}
.nav-link, .navbar-brand{color:#3CB371!important;}
.nav-link:hover{color:#3CB371!important;}
#footer {width:100%; text-align: center; margin:50px auto;}
tr:last-child {border-bottom:1px solid #eee;}
.input-group{text-align:center;}
.input-group-prepend {text-align:center!important;}
.input-group-text {width:150px;justify-content: flex-end; }
#subNavMenu .nav-link{color:#3CB371!important;}
#subNavMenu .nav-link:hover{color:#3CB371!important;}
/* .but1{margin:3px;} */
.btn{background-color: #3CB371; border: none}

/* 상세보기 모달  */
.modal fade{display: none;}

/* selectMdList.jsp */
.jumbotron{
	border-radius: 0;
}
h1{
	color : #fff;
	padding : 20px;}

.btn-success {margin-right : 20px;}

.cardall {
  		display: flex;
  		flex-wrap: wrap; 
  		
}

.card1 {
  		display: flex;
  		flex-wrap: wrap; 
}

 .card {
 		padding : 30px;
 		margin : 30px 0;
		flex-basis: 33.3%;
/* 		flex-basis: 480PX; */
  		display: flex;
   		flex-direction: row;
   		flex-flow: row wrap;  
  		flex-wrap: wrap; 
  		justify-content: space-around; 
  		border : none;
 		 } 
.card-body {
 		flex: auto;
 		text-align: right;
 		border: 1px solid lightgray;
} 		
.but1{
		width: 100px;
	    height: 35px;
	    margin: 15px;
	    border: 1px solid lightgreen;
	    border-radius: 10px;
	    background-color: lightgreen;
	    color: #fff;
	    font-family: border;
	    font-size: large;
		}
.form-inline{
		    display: flex;
		    flex-flow: row wrap;
		    align-items: flex-start;
		    flex-wrap: nowrap;
		    justify-content: flex-end;
    }
.but1start {
		margin-left: 20%;
}
.btn{
	background-color:#3CB371;
	color: #fff;
	padding : 0;
	border : none;
	}
.btn:not{
	background-color:#3CB371;
	color: #fff;
	padding : 0;
	border : none;
	}

#myModal{
	display : none;  
 	z-index : 9998;  
 	background-color: rgba(0,0,0,.3); 
	left:0;
	top: 0;
	width:100%;
	height:100%;
 	position: fixed; 
   	top: 50%; 
   	left: 50%; 
   	transform: translate(-50%, -50%); 
}
#listModal{
	display : none;  
 	z-index : 9998;  
 	background-color: rgba(0,0,0,.3); 
	left:0;
	top: 0;
	width:100%;
	height:100%;
 	position: fixed; 
   	top: 50%; 
   	left: 50%; 
   	transform: translate(-50%, -50%); 
}

.modal-content{
	z-index : 9999;
  	width: 400px;
    top: 50%;
    position: fixed;
	background-color:#fff;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.labelp{
	font-size: medium;
	font-weight: bold;
	display: block;
    margin-bottom: 1px;
}
.inputs{
	margin-bottom: 3px;
}
/* selectMdList.jsp 끝 */
 
/*  updateMd의 이미지 미리보기 사이즈 조절  */
	#img_input{
	width: 150px;
    height: 100px;
	}
	
	#image_container {
    width: 150px;
    height: 100px;
    display : none;
    float: right;
}

	#image_container img {
    width: 100%; 
    height: 100%;
}
	#imgchange, #img2_input{
		display : none;
	}

 	#firstimg{ 
 		display: flex; 
   		flex-wrap: wrap; 
   		margin-left: 30px; 
 	}

/*  updateMd의 이미지 미리보기 사이즈 조절  끝 */

@media only screen and (max-width: 978px) {
	#stNav {display: none;}
	#subNav {visibility: visible;}
	#subNavMenu {display: none;}
}

@media only screen and (min-width: 978px) {
	#stNav {visibility: visible;}
	#subNav {display:none;}
	#subNavMenu {display: none;}
}